<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">

 
  
  <title>Creativecutcall</title>
</head>
<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
     <a href="/regroup"><img src='assets/gifs/thresholds/2.gif' height="100" width="100"/></a>
    
</body>
</html>