<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

 <link href="assets/css/hover-adjuts.css" rel="stylesheet" media="all">
  
  <title>Goddess of Anarchy</title>
</head>
<body style="font-size:20px; padding:50px;" bgcolor="#a9eed3">
    <!-- Add EJS code here -->
  <a href="/welcomewagon"><img src='assets/gifs/thresholds/9.gif' height="100" width="100"/></a>

  <div class="random" id="r1"><a href="" class="hvr-rotate"><img src="assets/gifs/thresholds/3.gif" height="100" width="100"></a></div>
	
	<div class="random" id="r2"><a href="" class="hvr-pulse"><img src="assets/img/map-icons/cube-0.gif" width="823" height="767" alt=""/></a></div>	
	
	<div class="random" id="r3 r"><a href="" class="hvr-pop"><img src="assets/img/png/orange2.png" class="hvr-buzz" height="100" width="100" onclick="popup()"></a></div>
	
	<div class="random" id="r11"><a href="" class="hvr-bounce-in"><img src="assets/img/map-icons/pinata-1.png" height="278" width="339"></a></div>
	
	<div class="random" id="r4"><a href="" class="hvr-float"><img src="assets/img/png/bluebowlplant.png" height="237" width="300"></a></div>
	
	<div class="random" id="r5"><a href=""><a href="" class="hvr-fade"><img src="assets/gifs/404s/404_glitch2.gif" height="100" width="100"></a></div>
	
	<div class="random" id="r6"><a href="" class="hvr-skew-forward"><img src="assets/img/map-icons/cube-6.gif" width="900" height="749" alt=""/></a></div>
	
	<div class="random" id="r7"><a href="" class="hvr-wobble-bottom"><img src="assets/img/map-icons/sponge-4.gif" height="75" width="100"></a></div>
<div class="random" id="r8"><a href="assets/gifs/gifverse/splash/gif-verse-folding.html" class="hvr-fade"><img src="assets/gifs/gifverse/fold.gif" height="60" width="100"></a></div>
	<div class="random" id="r9"><a href="" class="hvr-hang"><img src="assets/img/map-icons/tape-1.gif" width="98" height="400" alt=""/></a></div>	
	
	<div class="random" id="r10"><a href="" class="hvr-wobble-top"><img src="assets/img/png/sponges.png" height="100" width="100"></a></div>	
    
</body>
</html>