<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 
  
  <title>Goddess of Anarchy</title>
</head>
<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
    
</body>
</html>