<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

 
  
  <title>welcome wagon</title>
</head>
<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
      <a href="/creativecutcall"><img src='assets/gifs/thresholds/15.gif' height="100" width="100"/></a>
    
</body>
</html>